mat-toolbar {
    --default-height: 50px;
}

.full {
    width: 100vw;
    height: 100vh;
}

#nav-bar {
    position: sticky;
    top: 0;
}


#block1 {
    background-color: #57973F;
}
#block2 {
    background-color: coral;
}
#block3 {
    background-color: moccasin;
}