<div>
  <div id="block1" class="full" fxLayout="column" fxLayoutAlign="center center">
    <div>Hello, my name is manor and I'm a Full-Stack web developer</div>
  </div>
  
  <mat-toolbar id="nav-bar" color="primary" fxLayout="row" fxLayoutGap="18px">
    <span>About</span>
    <span>Projects</span>
    <span>Skills</span>
    <span>Contact</span>
  </mat-toolbar>
  
  <div id="block2" class="full" fxLayout="column" fxLayoutAlign="center center">
    <div>BLOCK 2</div>
  </div>
  
  <div id="block3" class="full" fxLayout="column" fxLayoutAlign="center center">
    <div>BLOCK 3</div>
  </div>
</div>