<div #about id="about" class="full" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="80px">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1 id="about-title" class="subtitle color4 main-font">ABOUT</h1>
        <div class="underline back-color4" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="width: 100%;">
        <app-description></app-description>
        <app-skills></app-skills>
    </div>
</div>
